# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# 社内仕様書（Publicリポジトリには含めない）
mahjong_matching_app_spec.md
